 <div id="demo">
             <div ng-controller="AppCtrl">
            <p>The media query is set to 400px for a break point, just resize the result pane to see it change from 
            tabs to an accordion.</p>
              <tabset>
        <tab heading="tab1">Tab 1 content<br />
            <p>Just to show that all the Angular-ness still works, change this field to see that
            it is bound to a field in the second tab.</p>
            <input type="text" ng-model="model.foo" />
            <br />
            <br />
            <br />
            <br />
            <br />
            
        </tab>
        <tab heading="tab2">Tab 2 content
            <br />
            <input type="text" ng-model="model.foo" />
            <br />
            <input type="text" ng-model="model.bar" />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </tab>
    </tabset>
    </div>
</div>