  .loading {
      position: fixed;
      top: 50%;
      left: 50%;
	  z-index:999999;
  }
  .loading:bofore {
      	position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(255,255,255,0.95);
		content: "";
		z-index:999999;
  }
  .loading-bar {
      display: inline-block;
      width: 4px;
      height: 18px;
      border-radius: 4px;
      animation: loading 1s ease-in-out infinite;
  }
  
  .loading-bar:nth-child(1) {
      background-color: #3498db;
      animation-delay: 0;
  }
  
  .loading-bar:nth-child(2) {
      background-color: #c0392b;
      animation-delay: 0.09s;
  }
  
  .loading-bar:nth-child(3) {
      background-color: #f1c40f;
      animation-delay: .18s;
  }
  
  .loading-bar:nth-child(4) {
      background-color: #27ae60;
      animation-delay: .27s;
  }
  
  @keyframes loading {
      0% {
          transform: scale(1);
      }
      20% {
          transform: scale(1, 2.2);
      }
      40% {
          transform: scale(1);
      }
  }
  
  .activate-backdrop {
      width: 100%;
      height: 100%;
  }
  
  .backdrop {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
      background: rgb(204, 225, 225);
      /* IE 8 */
      filter: alpha(opacity=50);
      /* IE 5-7 */
      -moz-opacity: 0.5;
      /* Netscape */
      -khtml-opacity: 0.5;
      /* Safari 1.x */
      opacity: 0.5;
      /* Good browsers */
  }
